.home_container {
  width: 55vw;
  margin-left: 35vw;
  position: absolute;
  top: 10vh;
  height: 90vh;
}

.dark_mode {
  background-color: #242424;
}

.main_content_content {
  color: black;
}

.main_content_content.dark_mode {
  height: calc(100vh - 56px);
  color: white;
}
.main_content_content {
  width: 50vw;
  margin: 0 25vw;
  padding-top: 5vh;
}
